body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/*banner section styles*/
.Banner {
    display: flex;
    background: #E554731A;
    justify-content: space-between;
    align-items:center;
    padding: 30px 30px 30px 150px;

      }
      .Banner-content{
        max-width: 350px;
      
      }

      .Banner-title{
        display: flex;
        flex-direction: column;
        color: #272727;
        font-family: Lato;
       font-size: 30px;
      font-style: normal;
      line-height: normal;
      width: 708px;
      }

/*button section styles*/
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
   padding: 20px 25px;
  align-items: flex-start;
  gap: 10px;
}

/*about section styles*/
.About{
background-color:#FFF;
}
.Section-Title{
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.Section-Description{
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400px;
  line-height: 30px;
}
.section-images{
  max-width: 1440px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.first-image{
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 250px 250px 5px 5px;
  background:#A7216226;
  margin: 110px 0px 32px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Second-image{
  background:#0597A026;
  width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
}

.Third-image{
  background:#477D1126;
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;

}
.title-img{
  text-align: center;
}